version: "3.9"

volumes:
  postgres_data:
    external: true
  pgadmin_data:
    external: true

services:

  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php
    volumes:
      - .:/usr/share/nginx/html
    environment:
      PHP_IDE_CONFIG: "serverName=Docker"
    networks:
      - network

  nginx:
    image: nginx:1.19.6
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - .:/usr/share/nginx/html
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - php
      - postgres
    networks:
      - network

  postgres:
    image: postgres:13.1
    container_name: postgres
    environment:
      - POSTGRES_HOST=${DB_HOST}
      - POSTGRES_DB=${DB_DATABASE}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - ${DB_PORT}:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
      - PGADMIN_LISTEN_PORT=${PGADMIN_LISTEN_PORT}
    ports:
      - "8080:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    links:
      - "postgres"
    networks:
      - network

networks:
  network:
    driver: bridge
    ipam:
      driver: default
