* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

header, footer {
    padding: 12px 0;
    background-color: #2d3748;
    color: #ffffff;
}

#logo a {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    color: #ffffff;
}

#menu {
    margin: 8px 0;
}

#menu a {
    color: #ffffff;
    padding: 8px 16px;
    background-color: #0065d2;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 4px;
}

#menu a:hover {
    background-color: #56a3ff;
    font-weight: bolder;
}

body {
    background-color: #e0ffe9;
    text-align: center;
}

#not_footer {
    min-height: calc(100% - 40px - 24px); /* высота = вся высота - подвал - необходимый отступ */
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100% - 40px - 24px - 146px); /* высота = вся высота - подвал - необходимый отступ - шапка */
}

.page {
    background-color: #ffffff;
    margin: 16px;
    padding: 16px 32px;
    border-radius: 10px;
    box-shadow: 0 0px 16px #1f4221;
}

.big_page {
    width: 100%;
    max-width: 900px;
    min-height: 600px;
}

.big_page p {
    text-align: justify;
}

.small_page {
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.small_page p {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 14px;
}
