.table_users {
    text-decoration: none;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.table_users th {
    font-weight: normal;
    font-size: 14px;
    color: #ffffff;
    background-color: #103957;
}

.table_users td,
.table_users th {
    border: 1px solid #354251;
}

.table_users td a,
.table_users th {
    line-height: 13px;
    vertical-align: middle;
    white-space: pre-wrap;
    padding: 10px 5px;
}

.table_users td a {
    font-size: 13px;
    color: #354251;
    text-decoration: none;
    display: block;
}

.table_users tr:hover {
    background-color: #d2ebfc
}

.table_users tr:hover td a {
    color: #354251;
    cursor: pointer;
}

.mobile-table {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}
