.table_linked,
.table_not_linked {
    text-decoration: none;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.table_linked *,
.table_not_linked * {
    font-size: 13px;
}

.table_linked td,
.table_linked th,
.table_not_linked td,
.table_not_linked th {
    border: 1px solid #354251;
}

.table_linked th,
.table_not_linked th {
    font-weight: normal;
    font-size: 14px;
    color: #ffffff;
    background-color: #103957;
    height: 48px;
}

.td_small {
    max-width: 130px;
    width: 100px;
}

.td_left {
    text-align: left;
    padding: 10px 15px;
}

.td_left .td_a_div {
    text-align: left;
}

.table_linked .td_content,
.table_linked th,
.table_not_linked .td_content,
.table_not_linked th {
    line-height: 13px;
    vertical-align: middle;
    white-space: pre-wrap;
    padding: 10px 5px;
    text-align: center;
}

.table_linked td .td_content,
.table_not_linked td .td_content {
    color: #354251;
    text-decoration: none;
    display: block;
}

.institution_full_name {
    font-weight: bolder;
    font-size: 15px;
}

.institution_short_name {
    color: #878787;
}

.institution_address {
    font-style: italic;
}

.td_linked .td_small_line_content  {
    padding: 30px 5px;
}

.table_linked tr,
.table_not_linked .td_linked  {
    background-color: #eaf5ff;
}

.table_linked tr:hover td,
.table_not_linked .td_linked:hover  {
    background-color: #d3fcd2;
}

.table_linked td:hover *,
.table_not_linked .td_linked:hover * {
    cursor: pointer;
}

.mobile-table {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}

.profile_table td {
    padding: 4px 8px;
    font-size: 14px;
}

.profile_avatar {
    min-height: 200px;
    max-height: 200px;
    min-width: 200px;
    max-width: 200px;
}

.profile_field {
    width: auto;
}

.profile_field_header {
    font-weight: bolder;
}

/* Таблица с контактами */
.td_small_padding .td_content  {
    padding: 18px 4px;
}
.td_none_padding  {
    padding: 4px;
}
.td_none_padding .td_content  {
    padding: 0;
}
.contact_avatar {
    min-height: 64px;
    max-height: 64px;
    min-width: 64px;
    max-width: 64px;
    border: 1px solid #354251;
    margin-right: 12px;
    float: left;
}
.contact_name {
    font-size: 16px;
    line-height: 16px;
    font-weight: bolder;
    padding-top: 8px;
}
.td_a_div{
    height: 64px;
}
